@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Montserrat:wght@400;500;600;700;800&display=swap');

$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

:root{
    --white: #ffffff;
    --dark-grey: #494949;
    --grey: #aaaaaa;
    --light-grey: #eaeaea;
    --blue: #427ed1;
    --blue-hover: #4c8be0;
    --light-blue: #55cce5;
    --bg-white: #f5f5f5;
}

body{
    font-family: 'Karla', sans-serif;
    // font-family: 'Montserrat', sans-serif;
}

p{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.cursor{
    cursor: pointer;
}

.active{
    border-top: 3px solid var(--blue);
    box-sizing: border-box;
    li{
       color: var(--blue); 
    }
    
}

.ah-button{
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid var(--white);
    color: var(--white);
    padding: 0.5rem 2rem;
    border-radius: 25px;
    transition: background-color 0.5s;
    &:hover{
        background-color: transparent;
    }
}

.hover-effect {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255, 150, 110), rgba(80, 135, 213, 0.95));
    display: none;
    transition: display 0.5s;
}